
.background {
  position: fixed;
  width: calc(100vw + 1000px);
  height: calc(100vh + 1000px);
  background-image: url('../assets/img/bazaar-bg.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  transition: transform 0.1s ease;
  overflow-anchor: none;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  
}

.revista {
  position: absolute;
  top: var(--top);
  left: var(--left);
  
}
